.banner{
    min-height:500px;
    background-image: url("/static/about.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    -webkit-background-size:cover;
    background-size:cover;
    margin:0px -15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#banner-content{
    flex: 1 1 auto;
    margin:50px;
}

#banner-content h1{
    font-weight:bold;
    font-size:3em;
    color:white;
}

#headers {
    margin-top:20px;
    background-color: #1c2b36;
    padding:10px 15px;
    border-radius: 3px;
}