.banner{
    min-height:500px;
    background-image: url("/static/about.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size:cover;
    margin:0px -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#banner-content{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin:50px;
}

#banner-content h1{
    font-weight:bold;
    font-size:3em;
    color:white;
}

#headers {
    margin-top:20px;
    background-color: #1c2b36;
    padding:10px 15px;
    border-radius: 3px;
}