#downloadPage{
    background-image: url("/static/agreement.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:cover;;
    margin:0px -15px;
    /*width : 100vw;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:50px 10px 20px 20px;
    color:whitesmoke;
}


#downloadPage #successDiv{
    display: none;
}