#indexPage{
    background-color: #eeeeee;
}

.banner{
    height:550px;
    background-image: url("/static/home-x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:cover;;
    margin:0px -15px;
    /*width : 100vw;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#banner-content{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-top:-130px;
}
#banner-content .headers{
    color:white;
    background-color: #1a242f;
    padding:10px;
    margin-top:0px;
    border-radius: 10px;
}
#banner-content h2{
    font-weight:bold;
    font-size:2.5em;

}
.banner .btn{
    margin-top:20px;
}
.buy-sell{
    margin:5px;
    padding:20px;
}
.ad-bar{
    margin-top:20px;
    background-color: lightsteelblue;
    height: 300px;
    padding:10px;
}
.ad-bar:nth-child(2){
    background-color: lightblue;
}
.ad-bar:nth-child(3){
    background-color: lightskyblue;
}
.ad-bar:nth-child(4){
    background-color: powderblue;
}
.ad-bar > p{
    padding:0px 15px;
}
.ad-bar > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ad-bar > div > i{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    font-size:6em;
}

#ad-row{
    margin-top:20px;
}

.ad-bar i{
    margin-top:5px;
}

#indexPage p{
    font-size:1em;
}

#indexPage .buy-sell p{
    font-size: 1.3em;
}
@media screen and (max-width: 768px) {
    #banner-content h1{
        font-weight:bold;
        font-size:1.5em;
        color:white;
        background-color: #1a242f;
        padding:5px;
        margin-top:-20px;
        border-radius: 10px;
    }
    .ad-bar{
        margin:5px 15px;
    }
}