#workPage{
    margin-top:40px;
    min-height: 90vh;
}


.banner{
    min-height:400px;
    background-image: url("/static/smiling_woman.jpg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    -webkit-background-size:cover;
    background-size:cover;
    margin:0px -15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#banner-content{
    flex: 1 1 auto;
    margin-top:30px;
}

#workPage .faq{
    margin-bottom:25px;
}


#workPage .faq h4{
    margin:25px 0px 5px;
}