#workPage{
    margin-top:40px;
    min-height: 90vh;
}


.banner{
    min-height:400px;
    background-image: url("/static/smiling_woman.jpg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size:cover;
    margin:0px -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

#banner-content{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-top:30px;
}

#workPage .faq{
    margin-bottom:25px;
}


#workPage .faq h4{
    margin:25px 0px 5px;
}