{% load static %}
<link rel="stylesheet" href="{% static 'angular_css/angular-material.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootswatch/bootstrap-cosmo.min.css' %}">
<link rel="stylesheet" href="{% static 'font/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'jquery/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'jquery/css/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'animate/animate.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Mandali" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link rel="stylesheet" href="{% static 'estate.css' %}">
