body{
    font-family: 'Nunito', sans-serif;
}

.navbar-default{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    width:100%;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    border:none;
    height: 60px;
    margin:0px;
}

.navbar-default .navbar-nav>li>a:hover{
    color:white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color:white;
}

.navbar-collapse.collapsing, .navbar-collapse.in{
    background-color: #1c2b36;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: transparent;
}

.sp-font{
    font-family: 'Mandali', sans-serif;
}

/*When the dropdown is open, the main toggle*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background: transparent;
    cursor:pointer;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color:white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #7b8a8b;
  background-color: #e2e2e2;
}
a{
    color:white;
}
a.navbar-brand.leo-title{
    font-size: 2em;
    font-weight:bold;
    color:orangered;
}
a.navbar-brand.leo-title:hover{
    font-size: 2em;
    font-weight:bold;
    color:orangered;
}

.footer {
    margin-top:20px;
    background-color: #1c2b36;
    color: #8dadc4;
    padding:15px;
}

.sp-bold{
    font-weight:bold;
}

.sp-light{
    font-weight:300;
}

.es-btn{
    cursor:pointer;
}
