{% load static %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand leo-title sp-font" href="{% url "estate:index"%}"><i class="fa fa-home fa-lg"></i> <span style="color:dodgerblue">A</span><span>ltissimmo</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url "estate:estate" %}">Acheter</a></li>
                <li><a href="{% url "estate:sell" %}">Vendre</a></li>
                <li><a href="{% url "estate:how_it_works" %}">Comment ça marche?</a></li>
                <li><a><i class="fa fa-phone"></i> 01 23 56 78 45</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Plus <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "estate:about" %}">à propos de nous</a></li>
                        <li><a href="{% url "estate:contact" %}">contactez nous</a></li>
                    </ul>
                </li>
                {% if user.is_anonymous %}
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "profile" %}">dashboard</a></li>
                            <li><a href="{% url "auth_logout" %}">logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>