{% extends 'base.html' %}
{% load static from staticfiles %}
{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'estate/css/about.css' %}">
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="banner">
                <div id="banner-content" class="sp-font">
                    <div class="col-sm-4">
                        <div id="headers">
                            <h1 class="sp-font">à propos de nous</h1>
                            <h4 class="sp-font" style="color:white">Agence fondée en 2017 sur un constat simple : les frais d'agences sont trop élevés, les présentations des biens dans les annonces sont incomplètes ou trompeuses, les informations pénibles à obtenir.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2 class="sp-font">sur Altissimmo</h2>
            <p></p>
            <p>Partant de ce constat partagé par le plus grand nombre, le but de cette agence immobilière est de restaurer le vrai prix en lien avec le travail fourni pour le vendeur mais aussi de permettre aux acheteurs d'obtenir le maximum d'informations à portée de clic en restaurant une transparence trop longtemps mise de côté.</p>
            <p>Nous souhaitons élever la qualité pour que cela devienne le nouveau standard du secteur et remettre les commissions au juste prix.</p>
            <p>Dans la mesure du possible nous ferons tout pour simplifier le processus administratif.</p>
            <p>Diplômé d'une école d'ingénieur après un passage en classe préparatoire aux grandes écoles, je dispose en sus d'une licence d'économie afin de vous garantir tout le sérieux et la rigueur qui vont de paire avec un processus de vente qui est parfois celle d'une vie. J'ai pour moi de ne pas être un commercial.</p>
            <p>Léonard ALTMANN, fondateur d'Altissimmo</p>
        </div>
    </div>
{% endblock content %}