{% extends 'base.html' %}
{% load static from staticfiles %}
{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'estate/css/about.css' %}">
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="banner">
                <div id="banner-content" class="sp-font">
                    <div class="col-sm-4">
                        <h1 class="sp-font">About</h1>
                        <h3 class="sp-font" style="color:white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam quasi temporibus vel voluptatem?
                            Blanditiis esse labore sequi! Accusantium blanditiis consequatur illum iure.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="sp-font">About LeoAltman</h2>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae cumque distinctio earum impedit incidunt iste,labore laborum, molestiae neque quidem tenetur veniam voluptates! At doloribus eos laudantium odio vero.</span>
            <span>Accusamus alias fugit nesciunt pariatur sapiente, sunt voluptatem. Alias beatae facere nobis quasi quos reprehenderit similique? Aliquam cum debitis dolore ea, eum excepturi facere incidunt laborum odio omnis repellendus temporibus!</span>
            <span>Consectetur cum, eaque eum incidunt labore magni molestiae nisi omnis perferendis placeat quis quod voluptas! At dolores doloribus ea expedita minus nulla numquam quas, quos ratione repellendus suscipit temporibus vero?</span>
            <span>Assumenda dolore eligendi molestiae sunt? Accusantium aliquam blanditiis eligendi harum, laudantium magnam minus nemo nihil nostrum odio odit quas quos rerum soluta suscipit, tempore veniam? Accusamus eaque perspiciatis suscipit unde?</span></p>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae cumque distinctio earum impedit incidunt iste,labore laborum, molestiae neque quidem tenetur veniam voluptates! At doloribus eos laudantium odio vero.</span>
            <span>Accusamus alias fugit nesciunt pariatur sapiente, sunt voluptatem. Alias beatae facere nobis quasi quos reprehenderit similique? Aliquam cum debitis dolore ea, eum excepturi facere incidunt laborum odio omnis repellendus temporibus!</span>
            <span>Consectetur cum, eaque eum incidunt labore magni molestiae nisi omnis perferendis placeat quis quod voluptas! At dolores doloribus ea expedita minus nulla numquam quas, quos ratione repellendus suscipit temporibus vero?</span>
            <span>Assumenda dolore eligendi molestiae sunt? Accusantium aliquam blanditiis eligendi harum, laudantium magnam minus nemo nihil nostrum odio odit quas quos rerum soluta suscipit, tempore veniam? Accusamus eaque perspiciatis suscipit unde?</span></p>
        <h4 class="sp-font">Easy to use</h4>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae cumque distinctio earum impedit incidunt iste,labore laborum, molestiae neque quidem tenetur veniam voluptates! At doloribus eos laudantium odio vero.</span>
            <span>Accusamus alias fugit nesciunt pariatur sapiente, sunt voluptatem. Alias beatae facere nobis quasi quos reprehenderit similique? Aliquam cum debitis dolore ea, eum excepturi facere incidunt laborum odio omnis repellendus temporibus!</span>
            <span>Consectetur cum, eaque eum incidunt labore magni molestiae nisi omnis perferendis placeat quis quod voluptas! At dolores doloribus ea expedita minus nulla numquam quas, quos ratione repellendus suscipit temporibus vero?</span>
            <span>Assumenda dolore eligendi molestiae sunt? Accusantium aliquam blanditiis eligendi harum, laudantium magnam minus nemo nihil nostrum odio odit quas quos rerum soluta suscipit, tempore veniam? Accusamus eaque perspiciatis suscipit unde?</span></p>
    </div>
    </div>
{% endblock content %}